/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}


:root {
    --color-orange: #F58428;
    --color-blue: #14467C;
    --text-color: #fff;    
}

body,html {
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif !important;
    background-color: #FFF;    

}


.color-header {
    background-color: var(--color-orange);
    
    
}

.nav-header {
    background-color: var(--color-blue);
    
}

.text-color {
    color: var(--text-color);
    font-weight: 500;
    font-size: 25px;
}

.logo-prefeitura {
    height: 60px;
    width: auto;
    background-color: white; 
    padding: 5px; 
    border-radius: 5px; 
}

.center-text {
    text-align: center;
}



.section-title {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 2rem;
    color: #333;
}

.title-divider {
    width: 80px;
    height: 4px;
    background-color: #f57c00; 
    border: none;
    margin: 10px auto 20px;
}

.section-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
    color: #555;
    line-height: 1.6;
    max-width: 800px;
    margin: auto;
}

.image-header {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    /* background-color: #F58428; */
}

.image-header:hover {
    transform: scale(1.1);
}



/* Social midia */
.footer {
    background-color: #F58428;
    color: white;
    width: 100%;
    padding: 40px 0;
    position: absolute;
    bottom: 0;
    left: 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
    padding: 0 20px;
}


.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    
    border-radius: 50%;
    text-decoration: none;
}

.social-icons svg {
    fill: #F58428; 
    width: 28px;
    height: 28px;
}


.content {
    min-height: 100vh;
    padding-bottom: 100px;
}


.container-color {
    height: 4px; 
    width: 100%; 
    background-color: #F58428;  
}


.text-orange {
    color: #F58428 !important;
    font-size: 1rem;
}

/* button modal */

.btn:hover {
    background-color: #0d3556;
}

/* Cor do input */
.form-control {
    border: 1px solid #F58428; 
    background-color: #fff;
    color: #333;
    padding: 8px;
    border-radius: 5px;
    font-size: 16px;
}

.form-control:focus {
    border-color: #F58428; 
    box-shadow: 0 0 5px rgba(245, 132, 40, 0.7);
}

/* Customização do cabeçalho */
.modal-header {
    background-color: transparent;
    border: none;
    padding: 0;
}

/* Personalizando o fechamento do modal */
.btn-close {
    background: transparent;
    border: none;
}


.table-header th {
    background-color: #14467C;
    color: white;
    text-align: center; 
}

.botao-cadastrar {
    background-color: #F58428;
    border: none;
}

.botao-cadastrar:hover {
    background-color: #14467C; 
}


